[*.{kt,kts}]
ktlint_function_naming_ignore_when_annotated_with = Composable
compose_allowed_composition_locals = LocalShimmerTheme
compose_modifier-composed-check = shimmerEffect

[**/androidTest/**/*.kt]
disabled_rules = compose:composable-annotation-naming

[**/test/**/*.kt]
disabled_rules = compose:composable-annotation-naming